@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 985px) {
  .max {
    object-fit: cover;
  }
}

@media screen and (min-width: 986px) and (max-width: 1282px) {
  .max {
    object-fit: contain;
  }
}

@media screen and (min-width: 1283px) {
  .max {
    object-fit: cover;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 0px solid rgba(255, 255, 255, 0.8);
}

/* .box-shadow {
 box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.44);
-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.44);
} */



